.intro-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.details-wrapper {
    flex-wrap: wrap;
    margin-top: 200px;
    margin-left: 80px;
}